@page
@model AgoraFE.Pages.Admin.Manage.IndexModel
@{
}

<div class="bg-white rounded-lg align-self-center">
    <div class="p-4">
        <h3>Admin Manager</h3>
        <div class="col-sm-6">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item"><a href="/Admin/Manage/Categories/">Manage Subforum</a></li>
                <li class="nav-item"><a href="#">Manage Reports</a></li>
                <li class="nav-item"><a href="#">Customize</a></li> 
            </ul>
        </div>
        <div class="col-md-12">

        </div>
    </div>
</div>